<%- include('../includes/head.ejs') %>

</head>

<body>
  <header>
    <nav class="navbar bg-dark" data-bs-theme="dark">
      <div class="container">
        <a href="#" class="navbar-brand">DoomerTech</a>
      </div>
    </nav>
  </header>
  <main class="container">
    <h1 class="test">Hello World</h1>
  </main>

<% include('../includes/end.ejs') %>